<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>C++ II - Final Project - Daniel Wieteska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/graphics/chart-3.ico}"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">
        <a href="https://usosweb.wne.uw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod=2400-QFU2C2"
           target="_blank" rel="noopener">
            C++ in Quantitative Finance II
        </a>
    </h1>
    <h4 class="text-center">
        <a href="https://www.wne.uw.edu.pl/index.php/pl/profile/view/148"
           target="_blank" rel="noopener">
            dr Pawel Sakowski
        </a>
    </h4>
    <h2 class="text-center">Final Project</h2>
    <h4 class="text-center">Daniel Wieteska</h4>
    <h5 class="text-center">index: 368971</h5>
    <br/>
    <h1 class="text-center font-weight-bold text-uppercase">Option strategy valuations</h1>
    <br/>
    <table class="table">
        <tbody>
        <tr>
            <th scope="col">variable</th>
            <th scope="col">value</th>
        </tr>
        <tr>
            <td>settlement policy</td>
            <td>
                <span th:text="${inputData.getOptionBehaviour().getLegibleName()}" th:remove="tag"></span>
            </td>
        </tr>
        <tr>
            <td>spot price</td>
            <td>
                <span th:text="${inputData.spotPrice}" th:remove="tag"></span>
            </td>
        </tr>
        <tr>
            <td>annualized volatility rate</td>
            <td>
                <span th:text="${inputData.annualizedVolatilityAsPercent}" th:remove="tag"></span> %
            </td>
        </tr>
        <tr>
            <td>risk free rate</td>
            <td>
                <span th:text="${inputData.riskFreeRateAsPercent}" th:remove="tag"></span> %
            </td>
        </tr>
        <tr>
            <td>annualized dividend rate</td>
            <td>
                <span th:text="${inputData.annualizedDividendAsPercent}" th:remove="tag"></span> %
            </td>
        </tr>
        <tr>
            <td>time to maturity</td>
            <td>
                <span th:text="${inputData.timeToMaturityInYears}" th:remove="tag"></span> years
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/step-3}" method="post" th:object="${inputData}">
        <fieldset>
            <legend>Step 2/3 - specify options in strategy</legend>
            <p th:each="singleOption, stat : *{optionsInStrategy}">
                <span><span th:text="${stat.index}+1" th:remove="tag"></span>.</span>
                <label th:for="'strike-'+${stat.index}">
                    strike price:
                    <input type="number" min="0" step="0.01" required="required"
                           th:id="'strike-'+${stat.index}"
                           th:field="*{optionsInStrategy[__${stat.index}__].strike}"
                           placeholder="100.00"/>
                </label>
                <label th:for="'optionType-'+${stat.index}">
                    option type:
                    <select required="required"
                            th:id="'optionType-'+${stat.index}"
                            th:field="*{optionsInStrategy[__${stat.index}__].optionType}">
                        <option
                                th:each="optionType : ${T(pl.testy.qfII.quant_pack.basic_objects.OptionType).values()}"
                                th:value="${optionType}"
                                th:text="${optionType.getLegibleName()}"
                        >
                        </option>
                    </select>
                </label>
                <label th:for="'optionposition-'+${stat.index}">
                    position:
                    <select required="required"
                            th:id="'optionPosition-'+${stat.index}"
                            th:field="*{optionsInStrategy[__${stat.index}__].tradePosition}">
                        <option
                                th:each="tradePosition : ${T(pl.testy.qfII.quant_pack.basic_objects.TradePosition).values()}"
                                th:value="${tradePosition}"
                                th:text="${tradePosition.getLegibleName()}"
                        >
                        </option>
                    </select>
                </label>
            </p>
        </fieldset>
        <p class="text-right">
            <button type="submit" class="btn btn-primary">Go to the last 3 step</button>
        </p>
    </form>
</div>
</body>
</html>