<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>C++ II - Final Project - Daniel Wieteska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/graphics/chart-3.ico}"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">
        <a href="https://usosweb.wne.uw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod=2400-QFU2C2"
           target="_blank" rel="noopener">
            C++ in Quantitative Finance II
        </a>
    </h1>
    <h4 class="text-center">
        <a href="https://www.wne.uw.edu.pl/index.php/pl/profile/view/148"
           target="_blank" rel="noopener">
            dr Pawel Sakowski
        </a>
    </h4>
    <h2 class="text-center">Final Project</h2>
    <h4 class="text-center">Daniel Wieteska</h4>
    <h5 class="text-center">index: 368971</h5>
    <br/>
    <h1 class="text-center font-weight-bold text-uppercase">Option strategy valuations</h1>
    <br/>
    <form th:action="@{/step-2}" method="post" class="form-group">
        <fieldset>
            <legend>Step 1/3 - set general input data</legend>
            <p class="text-center">
                <label for="optionBehaviour">
                    option behaviour:
                    <select id="optionBehaviour" th:field="${inputData.optionBehaviour}" required="required">
                        <option
                                th:each="optionBehaviour : ${T(pl.testy.qfII.quant_pack.basic_objects.OptionBehaviour).values()}"
                                th:value="${optionBehaviour}"
                                th:text="${optionBehaviour.getLegibleName()}"
                        >
                        </option>
                    </select>
                </label>
            </p>
            <p class="text-center">
                <label for="spotPrice">
                    spot price:
                    <input type="number" min="0" step="0.01" id="spotPrice" name="spotPrice" placeholder="100.00"
                           required="required"
                           th:field="${inputData.spotPrice}"/>
                </label>
            </p>
            <p class="text-center">
                <label for="riskFree">
                    risk free rate:
                    <input type="number" step="0.01" id="riskFree" name="riskFree" placeholder="5.00"
                           required="required"
                           th:field="${inputData.riskFreeRateAsPercent}"/>
                    %
                </label>
            </p>
            <p class="text-center">
                <label for="annVol">
                    annualized volatility rate:
                    <input type="number" min="0" step="0.01" id="annVol" name="annVol" placeholder="25.00"
                           required="required"
                           th:field="${inputData.annualizedVolatilityAsPercent}"/>
                    %
                </label>
            </p>
            <p class="text-center">
                <label for="divRate">
                    annualized dividend rate:
                    <input type="number" min="0" step="0.01" id="divRate" name="divRate" placeholder="8.00"
                           required="required"
                           th:field="${inputData.annualizedDividendAsPercent}"/>
                    %
                </label>
            </p>
            <p class="text-center">
                <label for="ttm">
                    time to maturity:
                    <input type="number" min="0" step="0.01" id="ttm" name="ttm" placeholder="1.50" required="required"
                           th:field="${inputData.timeToMaturityInYears}"/>
                    years
                </label>
            </p>
            <p class="text-center">
                <label for="legs">
                    number of options in strategy:
                    <select id="legs" th:field="${inputData.numberOfOptionsInStratgy}" required="required">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>
            </p>
        </fieldset>
        <p class="text-right">
            <button type="submit" class="btn btn-primary">Go to step 2</button>
        </p>
    </form>
</div>
</body>
</html>