<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>C++ II - Final Project - Daniel Wieteska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/graphics/chart-3.ico}"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">
        <a href="https://usosweb.wne.uw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod=2400-QFU2C2"
           target="_blank" rel="noopener">
            C++ in Quantitative Finance II
        </a>
    </h1>
    <h4 class="text-center">
        <a href="https://www.wne.uw.edu.pl/index.php/pl/profile/view/148"
           target="_blank" rel="noopener">
            dr Pawel Sakowski
        </a>
    </h4>
    <h2 class="text-center">Final Project</h2>
    <h4 class="text-center">Daniel Wieteska</h4>
    <h5 class="text-center">index: 368971</h5>
    <br/>
    <h1 class="text-center font-weight-bold text-uppercase">Option strategy valuations</h1>
    <br/>
    <table class="table">
        <tbody>
        <tr>
            <th scope="col">variable</th>
            <th scope="col">value</th>
        </tr>
        <tr>
            <td>settlement policy</td>
            <td>
                <span th:text="${inputData.getOptionBehaviour().getLegibleName()}" th:remove="tag"></span>
            </td>
        </tr>
        <tr>
            <td>spot price</td>
            <td>
                <span th:text="${inputData.spotPrice}" th:remove="tag"></span>
            </td>
        </tr>
        <tr>
            <td>annualized volatility rate</td>
            <td>
                <span th:text="${inputData.annualizedVolatilityAsPercent}" th:remove="tag"></span> %
            </td>
        </tr>
        <tr>
            <td>risk free rate</td>
            <td>
                <span th:text="${inputData.riskFreeRateAsPercent}" th:remove="tag"></span> %
            </td>
        </tr>
        <tr>
            <td>annualized dividend rate</td>
            <td>
                <span th:text="${inputData.annualizedDividendAsPercent}" th:remove="tag"></span> %
            </td>
        </tr>
        <tr>
            <td>time to maturity</td>
            <td>
                <span th:text="${inputData.timeToMaturityInYears}" th:remove="tag"></span> years
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <tbody>
        <tr>
            <th scope="col">no</th>
            <th scope="col">strike</th>
            <th scope="col">type</th>
            <th scope="col">position</th>
        </tr>
        <tr th:each="singleOption, i : ${inputData.optionsInStrategy}">
            <td><span th:text="${i.index}+1" th:remove="tag"></span>.</td>
            <td th:text="${singleOption.strike}"></td>
            <td th:text="${singleOption.optionType.getLegibleName()}"></td>
            <td th:text="${singleOption.tradePosition.getLegibleName()}"></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/result}" method="post">
        <fieldset>
            <legend>Step 3/3 - set technical input data</legend>
            <p>
                <label for="numOfIntervals">
                    number of intervals (max. 1.000):
                    <input type="number" min="0" max="1000" step="1" required="required"
                           placeholder="10"
                           id="numOfIntervals"
                           th:field="${inputData.numberOfIntervals}"/>
                </label>
            </p>
            <p>
                <label for="numOfSim">
                    number of simulations (max. 1.000.000):
                    <input type="number" min="0" max="1000000" step="1" required="required"
                           id="numOfSim" placeholder="10000"
                           th:field="${inputData.numberOfSimulations}"/>
                </label>
            </p>
        </fieldset>
        <p class="text-right">
            <button type="submit" class="btn btn-primary">Do all calculations!</button>
        </p>
    </form>
</div>
</body>
</html>