<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>C++ II - Final Project - Daniel Wieteska</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/static/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/graphics/chart-3.ico}"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">
        <a href="https://usosweb.wne.uw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod=2400-QFU2C2"
           target="_blank" rel="noopener">
            C++ in Quantitative Finance II
        </a>
    </h1>
    <h4 class="text-center">
        <a href="https://www.wne.uw.edu.pl/index.php/pl/profile/view/148"
           target="_blank" rel="noopener">
            dr Pawel Sakowski
        </a>
    </h4>
    <h2 class="text-center">Final Project</h2>
    <h4 class="text-center">Daniel Wieteska</h4>
    <h5 class="text-center">index: 368971</h5>
    <br/>
    <h1 class="text-center font-weight-bold text-uppercase">Option strategy valuations</h1>
    <br/>
    <form th:action="@{/download}">
        <p class="text-center">
            <button type="submit" class="btn btn-primary ">Download full report in Excel</button>
        </p>
    </form>
</div>
</body>
</html>